
<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="../../../html/ltr/vertical-menu-template/index.html">
                    
                    <h2 class="brand-text mb-0">Sky Ready Mix</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="/dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span><span class="badge badge badge-warning badge-pill float-right mr-2">2</span></a>
                <ul class="menu-content">
                    <li><a routerLink="/dashboard" routerLinkActive="active"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">SKY Dashboard</span></a>
                    </li>
                </ul>
            </li>
            <li class=" navigation-header"><span>User Apps</span>
            </li>
            <li class=" nav-item"><a><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">Orders</span><span class="badge badge badge-primary badge-pill float-right mr-2">New</span></a>
                <ul class="menu-content">
                    <li><a routerLink="/orders" routerLinkActive="active"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List View">Active Orders</span></a>
                    </li>
                    <li><a href="orders.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Closed Orders</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a routerLink="/colors" routerLinkActive="active"><i class="feather icon-droplet"></i><span class="menu-title" data-i18n="Colors">Colors</span></a>
            </li>
            <li class=" nav-item"><a routerLink="/drivers" routerLinkActive="active"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Colors">Drivers</span></a>
            </li>
            
            <li class="disabled nav-item"><a href="#"><i class="feather icon-eye-off"></i><span class="menu-title" data-i18n="Disabled Menu">Disabled Menu</span></a>
            </li>
            <li class=" navigation-header"><span>Support</span>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-folder"></i><span class="menu-title" data-i18n="Documentation">Documentation</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-life-buoy"></i><span class="menu-title" data-i18n="Raise Support">Raise Support</span></a>
            </li>
        </ul>
    </div>
</div>

<!-- END: Main Menu-->