<body class="vertical-layout vertical-menu-modern 2-columns  navbar-floating footer-static  colorsData" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">


    <app-header></app-header>
    
    <app-sidebar></app-sidebar>
    
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Colors</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">Colors
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    
                </div>
            </div>
            <div class="content-body">
                <div class="row" id="table-hover-row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Admixture Colors</h4>
                            </div>
                            <div class="card-content">
                                
                                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-toggle="modal" data-target="#inlineForm">
                                        Add Color
                                    </button>
                                    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33">Add Color </h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <form [formGroup]="colorForm">
                                                    <div class="modal-body">
                                                        <label>Manufacturer </label>
                                                        <div class="form-group">
                                                            <input type="text" formControlName="manufacturer" placeholder="Manufacturer" class="form-control">
                                                        </div>
                                                        <label>Color </label>
                                                        <div class="form-group">
                                                            <input type="text" formControlName="color" placeholder="Color Name" class="form-control">
                                                        </div>
                                                        <label>Rate </label>
                                                        <div class="form-group">
                                                            <input type="text" formControlName="rate" placeholder="Rate" class="form-control">
                                                        </div>                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addColor()" data-dismiss="modal">Save </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>MANUFACTURER</th>
                                                <th>COLOR</th>
                                                <th>RATE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let color of colors">
                                                <th scope="row">{{color.manufacturer}}</th>
                                                <td>{{color.color}}</td>
                                                <td>{{color.rate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2020<a class="text-bold-800 grey darken-2" href="https://1.envato.market/pixinvent_portfolio" target="_blank">Pixinvent,</a>All rights Reserved</span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
</body>